@import '_reset.css';
@import '_variables.css';
@import 'keyframes.css';

.container {
	max-width: var(--w-max-container);
	margin: 0 auto;
	padding: 0 var(--container-side-pad);
}

.logo {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.4rem;
	font-weight: 900;
	gap: 0.5rem;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(45deg, var(--black), var(--blue));
}

.logo:hover {
	background-image: linear-gradient(-45deg, var(--black), var(--blue));
}

.logo img {
	width: 40px;
	animation: logo_rotate 0.8s linear 0s 1 normal none;
	transition: 0.8s;
}

.logo:hover img {
	transition: 0.8s;
	transform: rotate(90deg);
}

/* Buttons */

.btn {
	padding: 0.5rem;
	font-size: 1.02rem;
	font-weight: 500;
	color: var(--black);
}

.btn.btn-primary {
	background-image: linear-gradient(45deg, var(--white), var(--black));
	border-radius: 1.5rem;
}

.btn.btn-primary:hover {
	background-image: linear-gradient(-45deg, var(--white), var(--black));
}

.btn.btn-secondary {
	background-image: linear-gradient(-45deg, var(--black), var(--blue));
	text-transform: uppercase;
	font-size: 0.95rem;
	color: var(--white);
	border-radius: 0.5rem;
	font-weight: 300;
}

.btn.btn-secondary:hover {
	background-image: linear-gradient(45deg, var(--black), var(--blue));
}

.toggle-visibility {
	display: none;
}

.hide {
	display: none;
}

@media (max-width: 950px) {
	.toggle-visibility {
		display: flex !important;
	}
}
