@import 'global.css';
@import 'post.css';
@import 'about.css';
@import 'auth.css';

/* Navbar */

#navbar {
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	z-index: 1;
	position: relative;
}

#toggle-menu {
	position: absolute;
	top: 3.5rem;
	right: -0.5rem;
	transform: translate(-50%, -50%);
	font-size: 2.5rem;
	color: var(--white);
	display: none;
}

#navbar .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1;
}

#navbar ul {
	gap: 1rem;
}

#navbar ul li a {
	font-weight: 500;
}

#navbar ul li a:hover {
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(45deg, var(--black), var(--blue));
}

#navbar ul li #login-btn {
	border: 3px solid var(--white);
	padding: 0.5rem 1.5rem;
	border-radius: 0.5rem 1rem;
}

#navbar ul li #login-btn:hover {
	border-color: var(--black);
}

#navbar form {
	display: flex;
	position: relative;
}

#navbar form input {
	flex: 1;
	border: 3px solid var(--grey);
	padding: 0.5rem 2.5rem 0.5rem 1rem;
	border-radius: 0.5rem 1rem;
	color: var(--white);
	font-size: 1rem;
}

#navbar form input:focus {
	border-color: var(--white);
}

#navbar form button {
	position: absolute;
	right: 1rem;
	top: 0.7rem;
	color: var(--grey);
	font-size: 1.2rem;
	transition: all 0.3s ease;
}

#navbar form button:hover {
	transform: scale(1.1);
	color: var(--white);
}

/* Banner */

#banner {
	height: 100vh;
	width: 100vw;
}

#banner .container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#banner .left {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

#banner .left h1 {
	font-size: 5rem;
	font-weight: 900;
	text-transform: uppercase;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: illuminate_banner_text 4s ease-in-out 0s infinite alternate none;
}

#banner .left p {
	max-width: 680px;
	text-transform: uppercase;
	line-height: 1.5;
	font-weight: 300;
	font-size: 1.5rem;
	letter-spacing: 0.05rem;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: illuminate_banner_text 4s ease-in-out 0s infinite alternate none;
}

#banner .left p span {
	font-weight: 900;
	font-size: 2rem;
}

#banner .right {
	height: 100%;
}

#banner .right img {
	height: 90%;
	display: block;
	animation: brightness_robot 8s linear 0s infinite alternate none;
}

/* Categories Bar */

#category-bar .container {
	position: relative;
	border-radius: 1.5rem 0.5rem;
	border: 2px solid var(--white);
	margin: 0 var(--container-side-pad);
	transform: translateX(-50%);
	left: calc(50% - var(--container-side-pad));
}

#category-bar .categories-menu {
	overflow-x: hidden;
	gap: 1rem;
	padding: 2rem 1rem;
	align-items: center;
	scrollbar-width: none;
	-ms-overflow-style: none;
	width: 90%;
	margin: 0 auto;
}

#category-bar .categories-menu::-webkit-scrollbar {
	display: none;
}

#category-bar .categories-menu li a {
	text-wrap: nowrap;
	font-size: 1.02rem;
	font-weight: 500;
	border: 2px solid transparent;
	padding: 0.5rem 0.8rem;
	border-radius: 0.5rem 1rem;
}

#category-bar .categories-menu li a:hover {
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(
		45deg,
		var(--white),
		var(--grey),
		var(--blue),
		var(--white)
	);
	border-color: var(--white);
}

#category-bar .container .left-btn,
#category-bar .container .right-btn {
	position: absolute;
	top: 57%;
	z-index: 1;
	transform: translate(0, -50%);
	font-size: 2.5rem;
	color: var(--grey);
	opacity: 0.2;
}

#category-bar .container .left-btn:hover,
#category-bar .container .right-btn:hover {
	color: var(--white);
	transform: scale(1.2) translate(0, -42%);
	opacity: 1;
}

#category-bar .container .left-btn {
	left: 1.5rem;
}

#category-bar .container .right-btn {
	right: 1.5rem;
}

/* Featured Post */

#featured-post {
	margin-top: 4rem;
	height: 780px;
	border-radius: 0.5rem;
	overflow: hidden;
	position: relative;
	filter: drop-shadow(1px 1px 15px #fff3);
}

#featured-post .img {
	height: 100%;
	width: 100%;
}

#featured-post img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: relative;
	z-index: -1;
	animation: zoom_image_bg 15s ease-in-out 0s infinite alternate none;
}

#featured-post .info {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	gap: 1rem;
	z-index: 1;
	text-align: right;
	color: var(--white);
	padding: 2rem;
	background-image: linear-gradient(45deg, var(--black), var(--blue));
}

#featured-post .info .title {
	font-size: 2.5rem;
	text-transform: capitalize;
	width: calc(100% - 2rem);
	overflow: hidden;
	text-overflow: ellipsis;
	text-wrap: nowrap;
}

#featured-post .info .date {
	color: var(--light-blue);
	font-weight: 900;
	font-size: 1.2rem;
}

#featured-post .info .description {
	font-weight: 500;
	font-size: 1.1rem;
	color: var(--grey);
	white-space: nowrap;
	overflow: hidden;
	width: calc(100% - 4rem);
	text-overflow: ellipsis;
}

#featured-post:hover .btn-read {
	visibility: visible;
}

#featured-post .btn-read {
	position: absolute;
	top: 0;
	left: -100%;
	background-image: linear-gradient(45deg, var(--black), var(--blue));
	font-size: 1.5rem;
	height: 80px;
	display: flex;
	gap: 1rem;
	width: 250px;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease-in-out;
	visibility: hidden;
	border-bottom-right-radius: 3rem;
}

#featured-post .btn-read:hover {
	font-size: 2rem;
}

#featured-post:hover .btn-read {
	left: 0;
}

/* Posts */

#posts {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 2rem;
	row-gap: 3rem;
	margin: 4rem 0;
}

#posts .post-card {
	border-radius: 0.5rem 1.5rem;
	overflow: hidden;
	position: relative;
	filter: drop-shadow(1px 1px 15px #fff2);
	transition: all 0.3s ease-in-out;
}

#posts .post-card:hover {
	border-radius: 1.5rem 0.5rem;
	filter: drop-shadow(1px 1px 25px #fff3);
	transform: scale(1.05);
}

#posts .post-card .img {
	height: 250px;
	overflow: hidden;
}

#posts .post-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.3s ease-in-out;
	filter: grayscale(0);
}

#posts .post-card:hover img {
	filter: grayscale(0.5);
	transform: scale(1.1);
}

#posts .post-card .info {
	height: 180px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	padding: 0.5rem 1rem;
	text-align: center;
	color: var(--grey);
	background-image: linear-gradient(45deg, var(--black), var(--blue));
}

#posts .post-card .info .title,
#posts .post-card .info .description {
	width: calc(100% - 2rem);
	overflow: hidden;
	text-overflow: ellipsis;
}

#posts .post-card .info .title {
	font-weight: 600;
	text-transform: capitalize;
	text-wrap: nowrap;
}

#posts .post-card .info .date {
	color: var(--light-blue);
	font-weight: 900;
}

#posts .post-card .info .description {
	font-weight: 300;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 77px;
}

#posts .post-card .post-link {
	position: absolute;
	right: -100%;
	top: 0;
	transform: scale(1);
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 1.5rem;
	z-index: 1;
	display: flex;
	gap: 1rem;
	align-items: center;
	background-image: linear-gradient(-45deg, var(--black), var(--blue));
	font-size: 1.1rem;
	text-transform: uppercase;
	color: var(--grey);
	padding: 0.8rem 2rem;
	width: 60%;
	justify-content: flex-start;
	transition: all 0.3s ease-in-out;
}

#posts .post-card .post-link:hover {
	color: var(--white);
	background-image: linear-gradient(45deg, var(--black), var(--blue));
	transform: scale(1.1);
	font-weight: 500;
}

#posts .post-card:hover .post-link {
	right: -0.5rem;
}

/* Pagination Bar */

#pagination-bar ul {
	gap: 1rem;
	justify-content: center;
}

#pagination-bar ul li a {
	border: 2px solid var(--grey);
	color: var(--grey);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	border-radius: 0.5rem;
	opacity: 0.8;
}

#pagination-bar ul li a:hover {
	color: var(--white);
	border-color: var(--white);
	transform: scale(1.1);
	opacity: 1;
}

/* Footer */

footer {
	background-color: var(--black);
	padding: 4rem 0;
	margin-top: 4rem;
}

footer .container {
	display: flex;
	flex-direction: column;
}

footer .info {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 4rem;
}

footer .col {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	color: var(--grey);
}

footer .col h4 {
	color: var(--light-blue);
}

footer .col p {
	text-align: justify;
	line-height: 1.5;
	font-size: 1.02rem;
}

footer .col p::first-letter {
	margin-left: 1.5rem;
}

footer .col ul {
	flex-direction: column;
	gap: 1rem;
}

footer .col ul li a:hover {
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(45deg, var(--white), var(--blue));
}

footer .col form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

footer .col form input,
footer .col form textarea {
	border: 2px solid var(--grey);
	border-radius: 1.5rem;
	padding: 0.8rem 1rem;
	color: var(--grey);
}

footer .col form input:focus,
footer .col form textarea:focus {
	border-color: var(--white);
}

footer .col form input::placeholder,
footer .col form textarea::placeholder {
	font-weight: 300;
	font-size: 1rem;
}

footer .bottom-footer {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #9993;
	padding-top: 1.5rem;
	margin-top: 3rem;
}

footer .bottom-footer p {
	font-weight: 300;
	color: var(--grey);
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 0.9rem;
}

footer .bottom-footer p span {
	font-weight: 400;
	color: var(--white);
}

/* Media Query */

@media (max-width: 1280px) {
	/* Banner */

	#banner {
		position: relative;
	}

	#banner .left {
		align-items: center;
		flex: 1;
		text-align: center;
	}

	#banner .left p {
		max-width: 500px;
	}

	#banner .right img {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: -1;
		opacity: 0.3;
		transform: translate(-50%, -50%);
	}
}

@media (max-width: 1098px) {
	/* Posts */

	#posts {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 960px) {
	/* Footer */

	footer .info {
		grid-template-columns: 100%;
	}
}

@media (max-width: 950px) {
	/* Navbar */

	#navbar .logo {
		left: 0.5rem;
		position: absolute;
		top: 2rem;
	}

	#navbar {
		height: auto;
		padding: 7rem 0 0;
	}

	#toggle-menu {
		display: block;
	}

	#toggle-menu:hover {
		transform: translate(-50%, -50%) scale(1.1);
	}

	#navbar .container {
		flex-direction: column;
		gap: 2.5rem;
	}

	#navbar ul,
	#navbar form {
		display: none;
	}

	#navbar ul {
		flex-direction: column;
		gap: 2rem;
		width: 100%;
	}

	#navbar ul li {
		flex: 1;
	}

	#navbar ul li a {
		width: 100%;
		display: block;
		text-align: center;
		border: 3px solid #fff5;
		padding: 0.5rem 1.5rem;
		border-radius: 2rem 1rem;
	}

	#navbar ul li a:hover {
		border-color: var(--black);
	}

	#navbar ul li #login-btn {
		background-image: linear-gradient(
			45deg,
			var(--black),
			var(--blue),
			var(--black)
		);
		color: var(--grey);
		border-radius: 1.5rem;
		border-color: transparent;
		font-weight: 500;
	}

	#navbar ul li #login-btn:hover {
		background-image: linear-gradient(
			45deg,
			var(--black),
			var(--blue),
			var(--black)
		);
		font-weight: 500;
		border: 2px solid var(--black);
	}

	#navbar form {
		width: 100%;
	}

	#navbar form input {
		border-radius: 1rem;
	}
}

@media (max-width: 880px) {
	/* Categories Bar */

	#category-bar .categories-menu {
		width: 80%;
	}

	/* Featured Post */

	#featured-post .info {
		padding: 1.5rem 1rem;
	}

	#featured-post .info .title {
		font-size: 5vw;
	}

	#featured-post .info .description {
		font-size: 1rem;
	}

	#featured-post .btn-read {
		visibility: visible;
		left: 0;
		width: 100%;
		border-radius: 0;
	}

	/* Posts */

	#posts .post-card .post-link {
		right: 0;
		width: 110%;
		border-radius: 0;
		justify-content: center;
		text-align: center;
		padding-left: 4rem;
	}
}

@media (max-width: 720px) {
	/* Banner */

	#banner .left h1 {
		font-size: 10vw;
	}

	#banner .left p {
		font-size: 5vw;
	}

	/* Posts */

	#posts {
		grid-template-columns: 100%;
	}
}

@media (max-width: 600px) {
	/* Categories Bar */

	#category-bar .categories-menu {
		width: 60%;
	}
}
