@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	--black: #000303;
	--dark-blue: #0d0f36;
	--blue: #294380;
	--light-blue: #69d2cd;
	--green: #b9f1d6;
	--yellow: #f1f6ce;
	--white: #fefeff;

	--container-padding: 0.5rem;

	--roboto: 'Roboto', sans-serif;
	--montserrat: 'Montserrat', sans-serif;
}
