#content .content-area .content-data .data table tbody tr td:nth-child(2) {
	text-transform: capitalize;
	font-weight: 500;
	overflow: hidden;
	text-overflow: ellipsis;
	text-wrap: nowrap;
}

#content
	.content-area
	.content-data
	.data
	table
	tbody
	tr
	td:nth-child(2)
	a:hover {
	color: var(--blue);
}

#content .content-area .content-data .data table tbody tr td:nth-child(3) {
	font-weight: bold;
	color: var(--blue);
	overflow: hidden;
	text-overflow: ellipsis;
	text-wrap: nowrap;
}

#content .content-area .content-data .data table tbody tr td:nth-child(4) {
	font-weight: bold;
}

#content .content-area .content-data .data table tbody tr td:nth-child(5) {
	font-family: monospace;
	text-transform: uppercase;
	font-weight: 500;
}

/* Media Query */

@media (max-width: 1100px) {
	#content .content-area .content-data .data table thead tr th:nth-child(5),
	#content .content-area .content-data .data table tbody tr td:nth-child(5) {
		display: none;
	}
}

@media (max-width: 880px) {
	#content .content-area .content-data .data table thead tr th:nth-child(3),
	#content .content-area .content-data .data table tbody tr td:nth-child(3) {
		display: none;
	}
}

@media (max-width: 576px) {
	#content .content-area .content-data .data table thead tr th:nth-child(4),
	#content .content-area .content-data .data table tbody tr td:nth-child(4) {
		display: none;
	}
}

@media (max-width: 380px) {
	#content .content-area .content-data .data table thead tr th:nth-child(2),
	#content .content-area .content-data .data table tbody tr td:nth-child(2) {
		display: none;
	}
}
